/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(135deg, #a8dadc, #457b9d);
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
  
  /* Basic CSS for the form elements */
  body {
    font-family: Roboto, sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #48bfe3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1d74b1;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  
.container {
    margin: 50px;
}